#sausis {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  border: 5px solid #aaa;
}

#sausis .board .column {
  width: 77px;
  height: 600px;
  border-right: 3px solid #fff;
  background: #eee;
  float: left;
}

#sausis .board .column .ball {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 25px;
  -webkit-animation-name: ballAppear;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes ballAppear {
  // invisible
  0% {
    height: 0;
    opacity: 0;
  }

  // slide other balls down creating space for this one
  70% {
    opacity: 0;
    height: 50px;
    -webkit-transform: scale(0);
  }

  // make this ball grow and fade in
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

#sausis .board .column .ball.red {
  background: -webkit-radial-gradient(center, ellipse cover, #ff5378 0%,#ff322b 100%);
}

#sausis .board .column .ball.blue {
  background: -webkit-radial-gradient(center, ellipse cover, #53d1ff 0%,#4292e8 100%);
}

#sausis .board .column .ball.green {
  background: -webkit-radial-gradient(center, ellipse cover, #89ff53 0%,#4de842 100%);
}
